@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat', sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  background-color: #2b2b2b;
  font-family: 'Montserrat', sans-serif;
}
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Montserrat', sans-serif";
}
